@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

header h1 {
  font-weight: 600;
  color: hsl(255, 11%, 22%);
}

a {
  text-decoration: none;
}

header {
  padding: .8em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav ul li {
  margin-left: 30px;
  display: inline-block;
  font-weight: 600;
  color: hsl(257, 7%, 63%);
}

header nav ul li:hover {
  cursor: pointer;
  color: hsl(255, 11%, 22%);
}

.signup {
  color: white;
  padding: 5px 25px;
  border-radius: 25px;
  background-color: hsl(180, 66%, 49%);
}

.signup:hover {
  color: white;
  cursor: pointer;
  background-color:  hsl(180, 66%, 69%);
}

.hero-image {
  background: url(images/illustration-working.svg) no-repeat;
  background-size: cover;
  height: 320px;
  width: 100%;
  background-position: 25px;
}

.hero-information {
  text-align: center;
  color: hsl(255, 11%, 22%);
  margin: 0 0 100px 0;
}

.hero-information h1 {
  font-size: 2.4em;
  line-height: 1.2;
  margin-top: 25px;
}

.hero-information p {
  font-size: 1.1em;
  color: hsl(257, 7%, 63%);
  margin-top: 15px;
  padding: 0 1.2em;
}

.get-started-btn {
  color: white;
  font-weight: 600;
  padding: 15px 45px;
  background-color: hsl(180, 66%, 49%);
  border: none;
  border-radius: 45px;
  font-size: 1.1em;
  margin: 50px;
  outline: none;
}

.get-started-btn:hover {
  cursor: pointer;
  background-color:  hsl(180, 66%, 69%);
}

.shorten-url {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(240, 241, 246);
}

.shortent-url-field {
  width: 85%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: hsl(257, 27%, 26%) url(images/bg-shorten-mobile.svg) no-repeat;
  background-size: cover;
  background-position: 80px -50px;
  margin-top: -80.5px;
}

.shortent-url-field input {
  margin-bottom: 15px;
  padding: 12px;
  border-radius: 5px;
  border: none;
  font-size: 1em;
}

.shortent-url-field button {
  padding: 12px;
  border-radius: 5px;
  border: none;
  font-size: 1.1em;
  color: white;
  font-weight: 600;
  background-color: hsl(180, 66%, 49%);
  outline: none;
}

.shortent-url-field button:hover {
  cursor: pointer;
  background-color:  hsl(180, 66%, 69%);
}

.statistics-text {
  padding: 20px;
  text-align: center;
  margin-bottom: 50px;
}
.statistics-text h1 {
  color: hsl(255, 11%, 22%);
  font-size: 1.7em;
}

.statistics-text p {
  color: hsl(257, 7%, 63%);
  margin-top: 15px;
  line-height: 1.8;
}

.props {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding: 0 0 60px 0;
}

.col {
  width: 85%;
  padding: 17px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background: #fff;
  display: flex;
  align-items: center;
}

.icon {
  width: 80px;
  height: 80px;
  padding: 20px;
  background-color:  hsl(257, 27%, 26%);
  border-radius: 50%;
  margin-top: -60px;
  display: flex;
}

.col h1 {
  color: hsl(255, 11%, 22%);
  font-size: 1.4em;
  margin-top: 30px;
  text-align: center;
}

.col p {
  color: hsl(257, 7%, 63%);
  margin: 20px 5px;
  font-size: 1em;
  text-align: center;
}

.bar {
  width: 8px;
  height: 90px;
  background-color: hsl(180, 66%, 49%);
}

.get-started {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: hsl(257, 27%, 26%) url(images/bg-boost-mobile.svg) no-repeat;
  background-size: cover;
  background-position: 20px -20px;
  padding: 80px 0;
}

.center {
  display: flex;
  align-content: center;
  flex-direction: column;
  text-align: center;
}

.center h1 {
  font-size: 1.7em;
  color: #fff;
}

.get-started button {
  margin: 15px 50px 0 50px;
}

footer {
  background-color: hsl(260, 8%, 14%);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 35px 0;
}

ul li {
  list-style: none;
}

footer nav ul li {
  line-height: 2.2;
  color: hsl(0, 0%, 75%);
}

footer nav ul li:first-child {
  margin: 15px 0 5px 0;
  font-weight: 700;
  color: white;
  font-size: 1.2em;
}


footer nav ul li:not(:first-child):hover {
  cursor: pointer;
  color:  hsl(180, 66%, 49%);
}

.icons {
  display: flex;
  grid-gap: 25px;
  margin-top: 35px;
}

.icons > li:hover {
  cursor: pointer;
}
.result {
  width: 85%;
  display: flex;
  flex-direction: column;
}

.result__column {
  width: 100%;
  /* padding: 20px 10px; */
  background-color: #fff;
  margin-top: 25px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.result__column span {
  font-size: 1.1em;
}

.url-container {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid hsl(257, 7%, 63%);
}

.url-container a{
  color: hsl(255, 11%, 22%);
}

.shorten-url-span {
  padding: 15px;
  color: hsl(180, 66%, 49%)
}

.origion-url {
 display: inline-block;
 width: 100%;
 white-space: nowrap;
 overflow: hidden !important;
 text-overflow: ellipsis;
}

.result__column button {
  margin:  0 10px 10px 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: hsl(180, 66%, 49%);
  color: white;
  font-size: 1.1em;
  font-weight: 600;
}

#loader {
  display: none;

}

.loader {
  border: 6px solid #f3f3f3; /* Light grey */
  border-top: 6px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


@media screen and (min-width: 900px) {

  header {
    padding: 0 calc(3.2em + 50px);
  }

  header h1 {
    padding: .8em .3em;
  }

  .hero {
    display: flex;
    padding: 2em 0 8em 4em;
    justify-content: center;
  }

  .hero-information {
    order: -1;
    text-align: left;
  }

  .hero-image {
    height: 444px;
    width: 75%;
    background-position: 10px;
  }

  .hero-information p {
    margin-left: calc( 50px - 1.2em );
    font-size: 1.4em;
  }

  .hero-information h1 {
    margin-left: 50px;
    font-size: 4.4em;
  }

  .get-started-btn {
    margin: 20px 50px;
  }

  .shortent-url-field {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    grid-gap: 15px;
    padding: 35px 15px;
    background: hsl(257, 27%, 26%) url(images/bg-boost-desktop.svg) no-repeat;
    background-size: cover;
    background-position: 20px;
  }
  .shortent-url-field input {
    margin-bottom: 0;
    width: 80%;
    padding: 15px;
    outline: none;
  }

  .shortent-url-field button {
    padding: 15px;
  }

  .props {
    width: 85%;
    height: 410px;
    flex-direction: row;
    justify-content:  space-around;
  }

  .col {
    width: 40%;
    align-items: flex-start;
  }

  .col:first-child {
    align-self: flex-start;
  }

  .col:last-child {
    align-self: flex-end;
  }

  .icon {
    align-self: flex-start;
  }

  .bar {
    width: 35px;
    height: 8px;
  }

  .col p {
    text-align: left;
    font-size: .95em;
  }

  .col h1 {
    margin-top: 15px;
    text-align: left;
  }

  .get-started {
    background: hsl(257, 27%, 26%) url(images/bg-boost-desktop.svg) no-repeat;
    background-size: cover;
    background-position: 20px;
    padding: 80px 0;
  }

  footer {
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    grid-gap: 100px;
    padding: 20px 100px 60px 100px;
    text-align: left;
  }

  footer nav ul li {
    font-size: .7em;
  }

  footer nav ul li:first-child {
    font-size: .9em;
  }
}


.hamburger {
  display: none;
}

.bar1 {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}



@media screen and (max-width: 900px) {

  /* nav ul li {
    color: hsl(0, 0%, 27%);
    font-weight: 600;
  } */

  .none {
    display: none;
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    background-color: hsl(257, 27%, 26%);
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    left: 0;
    justify-content: center;
  }

  .top {
    border-top: 1px solid hsl(257, 7%, 63%);
    padding: 1rem 0 0 0
  }

  .nav-item {
    color: white;
    margin: 1rem 1rem;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger.active .bar1:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar1:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    background-color: hsl(0, 0%, 27%);
  }

  .hamburger.active .bar1:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    background-color: hsl(0, 0%, 27%);
  }
}
