@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: 3fr 1.5fr;
  grid-template-areas:
    "a a a a a a a a b b b b b b"
    "c c c c d d d d d d g g g g";
  height: 100vh;
}

header {
  width: 100%;
  padding: 35px 40px;
}

nav ul {
  display: flex;
  grid-gap: 45px;
  align-items: center;
}

nav ul li {
  color: white;
  list-style: none;
  font-size: 0.8em;
}

nav ul li:not(:first-child):hover {
  cursor: pointer;
  border-bottom: 2px solid white;
}

nav ul li:first-child {
  font-size: 1.6em;
  font-weight: 700;
}

.one {
  grid-area: a;
  background-image: url(images/desktop-image-hero-1.jpg);
  background-repeat: no-repeat;
}

.two {
  grid-area: b;
  display: flex;
  flex-direction: column;
}

.controll {
  display: flex;
  height: 100%;
}

.controll > div {
  height: 100%;
  background: hsl(0, 0%, 0%);
  /* padding: 10px; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 102.5px;
}

.controll > div:hover {
  cursor: pointer;
  background-color: hsl(0, 0%, 27%);
}

.second_block_content {
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 85px;
}

.second_block_content h1 {
  font-size: 2.3em;
  margin-bottom: 20px;
  font-weight: 600;
}

.second_block_content p {
  font-size: 0.8em;
  line-height: 1.7;
  color: hsl(0, 0%, 63%);
}

.shop-now {
  margin-top: 50px;
  letter-spacing: 10px;
}

.shop-now span {
  text-transform: uppercase;
  font-size: 0.8em;
}

.shop-now:hover {
  color: hsl(0, 0%, 63%);
  cursor: pointer;
}

.slider_controll {
  height: 15%;
}

.three {
  grid-area: c;
  background-image: url(images/image-about-dark.jpg);
  background-repeat: no-repeat;
}

.four {
  grid-area: d;
}

.content {
  padding: 50px 40px 0 40px;
}

.four h1 {
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.four p {
  font-size: 0.8em;
  line-height: 1.7;
  color: hsl(0, 0%, 63%);
}

.five {
  grid-area: g;
  background-image: url(images/image-about-light.jpg);
  background-repeat: no-repeat;
}

@media screen and (max-width: 1150px) {
  .second_block_content {
    padding: 35px 10%;
  }

  .content {
    padding: 2em 2em 1em 2em;
  }

  .second_block_content h1 {
    font-size: 1.8em;
  }
}

@media screen and (max-width: 840px) {
  .grid {
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: 3fr 3fr 3fr 3fr;
    grid-template-areas:
      "a a a a a a a a a a a a a"
      "b b b b b b b b b b b b b"
      "c c c c c c c g g g g g g"
      "d d d d d d d d d d d d d";
  }

  .one {
    min-height: 540px;
  }

  .three,
  .five {
    min-height: 265px;
  }

  .four {
    padding: 0 25px 0 25px;
  }

  .second_block_content {
    height: 80%;
  }

  .slider_controll {
    height: 20%;
  }

  .second_block_content {
    padding: 60px 10%;
  }
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

@media screen and (max-width: 500px) {
  nav ul {
    /* flex-direction: column; */
  }

  nav ul li {
    color: hsl(0, 0%, 27%);
    font-weight: 600;
  }

  .none {
    display: none;
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    background-color: #fff;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    left: 0;
    justify-content: center;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    background-color: hsl(0, 0%, 27%);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    background-color: hsl(0, 0%, 27%);
  }


}

@media screen and (max-width: 420px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 3fr 1.5fr 3fr 3fr 3fr;
    grid-template-areas:
      "a"
      "b"
      "c"
      "d"
      "g";
  }
}
